* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #bad9cb;
  --tertiary-bg-color: #bad9cb;
  --main-cta-btn-color: #42b883;
  --secondary-brand-color: #42b883;
  --main-cta-btn-hover-color: #42b883;
  --course-card-bg-color: #bad9cb;
  --second-cta-btn-color: #5800ff;
  --main-text-color: #00312d;
  --secondary-text-color: #000000;
  --tertiary-text-color: #787878;
  --whatsapp-green-color: #25d366;
  --font: "Poppins";
  --dark-color: #00b664;
  --light-color: #d1f9e7;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: var(--main-text);
  height: 100px;
  background: #ffffff;
  padding: 0 5%;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav button {
  background-color: var(--main-cta-btn-color);
  padding: 14px 30px;
  color: var(--primary-bg-color);
  border-radius: 5px;
  border: var(--main-cta-btn-color);
  font-weight: 400;
  font-size: 18px;
  font-weight: 10px;
}
nav .links a {
  display: block;
  padding: 1em;
  font-weight: 400;
  font-size: 18px;
  font-weight: 10px;
  text-decoration: none;
  position: relative;
  font-family: var(--font);
  color: #000000;
}
nav button:hover {
  opacity: 0.8;
}
nav .links a:hover {
  color: var(--dark-color);
}
nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: var(--dark-color);
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--main-cta-btn-color);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.header {
  min-height: 100vh;
  width: 100%;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}
.para1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  margin: 10px 0 10px;
  color: #42b883;
}
.text-box h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #324a58;
}
.sub-heading {
  font-weight: 500;
  font-size: 18px;
  color: #868686;
  margin: 10px 0 40px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 13px 42px;
  font-size: 15px;
  font-weight: 500;
  background-color: #42b883;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}
.hero-btn:hover {
  opacity: 0.8;
}
.hero-btn2 {
  display: inline-block;
  text-decoration: none;
  color: #42b883;
  margin-left: 2%;
  padding: 11px 30px;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  position: relative;
  border: 2px solid #42b883;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}
.hero-btn2:hover {
  color: #fff;
  background-color: #42b883;
}
.image {
  width: 100%;
  position: absolute;
  display: flex;
  top: 32%;
  justify-content: right;
}
.explore-courses-page {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.explore-courses-page img {
  width: 37%;
}
.content-explore-courses-page {
  width: 50%;
  position: absolute;
  top: 140%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}
.content-explore-courses-page h1 {
  font-size: 40px;
  font-weight: 600;
}
.content-explore-courses-page p {
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.content-explore-courses-page a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 13px 42px;
  font-size: 15px;
  font-weight: 500;
  background-color: #42b883;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  left: 2%;
}
.content-explore-courses-page a:hover {
  opacity: 0.8;
}
.feature-page{
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.feature-page h1{
  font-size: 35px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.feature-col {
  flex-basis: 32%;
  margin-bottom: 30px;
  position: relative;
}
.feature-col img{
  width: 100%;
}
.feature-content{
  width: 50%;
  position: absolute;
  top: 220%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}
@media (max-width: 700px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-color);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  .para1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 42px;
    margin: 10px 0 10px;
    color: #42b883;
  }
  .text-box h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #324a58;
  }
  .image {
    width: 100%;
    position: absolute;
    display: flex;
    top: 80%;
    justify-content: right;
  }
  .explore-courses-page {
    display: flex;
    top: 460px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
  }
  .explore-courses-page img {
    width: 88%;
    position: absolute;
    display: flex;
    top: 420%;
    justify-content: right;
  }
  .content-explore-courses-page {
    width: 100%;
    position: absolute;
    top: 140%;
    left: 54%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
  }
  .content-explore-courses-page h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }
  .content-explore-courses-page p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0 10px;
  }
  .feature-page{
    top: 1100px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
  }
  .feature-col img{
    width: 1px;
  }
  .feature-page h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 346px){
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 13px 42px;
    font-size: 15px;
    font-weight: 500;
    background-color: #42b883;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
  }
  .hero-btn2 {
    display: inline-block;
    text-decoration: none;
    color: #42b883;
    margin-left: 2%;
    padding: 7px 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    position: relative;
    border: 2px solid #42b883;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
  }
}